@import 'tailwindcss/theme.css';
@import 'tailwindcss/preflight.css';
@import 'tailwindcss/utilities.css';

body {
    background-color: #ebf5ff;
}

button[type="submit"] {
    @apply bg-orange-500;
}

button[type="button"].filter {
    @apply bg-gray-50;
}

.leaflet-popup-content-wrapper {
    padding: 0 0 1px 0 !important;
}

.leaflet-popup-content {
    margin: 0 !important;
}