@import 'tailwindcss/theme.css';
@import 'tailwindcss/preflight.css';
@import 'tailwindcss/utilities.css';

body {
    background-color: #fff6ef;
}

input::placeholder {
    color: #9a3412 !important;
    opacity: 1 !important; /* Firefox */
}

button[type="submit"].form {
    @apply bg-gray-50;
    @apply text-orange-800;
}

button[type="button"].filter {
    @apply bg-orange-200;
    @apply text-orange-500;
}

button[type="button"].filter-active {
    @apply bg-orange-500;
    @apply text-gray-50;
}

button[type="button"].filter-base {
    @apply bg-gray-50;
    @apply text-orange-800;
}

.leaflet-popup-content-wrapper {
    padding: 0 0 1px 0 !important;
}

.leaflet-popup-content {
    margin: 0 !important;
}

.discover {
    color: #020617 !important;
}

.leaflet-popup-close-button {
    color: #f9fafb !important;
}

